<%layout("/layouts/boilerplate")%>

<body>
    <div class="row offset-2">
        <div class="col-8 ">
    <h3> Your listing</h3>
   <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="mb-5 needs-validation" novalidate enctype="multipart/form-data">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]"  class="form-control" value="<%= listing.title %>" required>
     <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Enter Title ?</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
     <div class="valid-feedback">Looks good!</div>
     <div class="invalid-feedback">Please enter a short description </div>
  </div>
  <div class="mb-3">
   <p> Original Listing Image</p>
    <img src="<%=originalListingUrl%>" alt="" style="max-width:250px; height:auto">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Upload New Image</label>
    <input type="file" name="listing[image]"  class="form-control" >
  </div>
  <div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <select name="listing[category]" class="form-control" required >
   
     <option value="" disabled selected>Select category</option>
    <option>Trending</option>
    <option>Room</option>
    <option>Beachfront</option>
    <option>Countryside</option>
    <option>Mountain View</option>
    <option>City Stay</option>
    <option>Winter Escapes</option>
    <option>Pet Friendly</option>
    <option>Camping</option>
    <option>Luxury Stay</option>
    <option>Food & Drink</option>
    <option>Adventure</option>
  </select>
  <div class="invalid-feedback">Please select a category</div>
</div>
   <div class="row">
  <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price (₹)</label>
    <input type="number" name="listing[price]"  class="form-control" value="<%= listing.price %>" required>
    <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Enter Price ?</div>
  </div>

  <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listing[country]"  class="form-control" value="<%= listing.country %>" required>
     <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Country name should be valid</div>
  </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]"  class="form-control" value="<%= listing.location %>" required>
     <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Location should be valid</div>
  </div>

  <button class="btn btn-success add-btn">Update Listing</button>
</form>
</div>
</div>

    
</body>
